@import '../variables.css';

.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  position: relative;

  &:hover {

    .text {
      opacity: 0;
      z-index: -1;
    }

    .transformIcon {

      margin: 0 4px;
      border-radius: 50%;
      transition: margin 0.5s linear, border-radius 0.5s linear;

      * {
        opacity: 1;
        transition: opacity 1.5s;
      }
    }

    .squish {
      margin: 0 4px;
      border-radius: 50%;
      transition: margin 0.5s 0.25s linear, border-radius 0.5s 0.25s linear;

      * {
        opacity: 1;
        transition: opacity 1.5s;
      }
    }

    .squishMe {
      border-radius: 50%;
      padding: 0;
      margin: 0;
      transition: margin 0s 0.25s linear,
      border-radius 0.5s 0.25s linear,
      padding-left 0.1s linear,
      padding-right 0.1s linear,
      padding-top 0s 0.25s linear,
      padding-bottom 0s 0.25s linear;
    }

    .hide {
      margin: 0 4px;
      border-radius: 50%;
      transition: margin 0.5s 0.25s linear, border-radius 0.5s 0.25s linear;

      * {
        opacity: 1;
        transition: opacity 1.5s;
      }
    }

    .hideMe {
      border-radius: 50%;
      min-width: 1rem;
      width: auto;
      padding: 0.25rem;
      margin: 0 4px;
      transition: padding-left 0.25s linear,
      padding-right 0.25s linear,
      width 0.25s linear,
      min-width 0.25s linear,
      margin 0.5s 0.25s linear,
      border-radius 0.5s 0.25s linear;
    }

  }
}

.defaultHover:hover {
  background-color: darkgreen;
}

.text {
  position: absolute;
  z-index: 1;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s 0.25s ease-in;
  display: flex;
  justify-content: center;
}

.transformIcon {
  display: inline-flex;

  align-items: center;
  justify-content: center;
  min-width: 1em;
  vertical-align: middle;

  position: relative;
  width: auto;

  padding: 0.25rem;

  background-color: color(var(--color-secondary) tint(15%));

  border-radius: 0;

  margin: 0 0;

  transition: border-radius 0.25s ease-in, margin 0.25s ease-in;

  * {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    vertical-align: middle;
    opacity: 0;
  }

}

.box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1em;
  vertical-align: middle;
  height: 1em;

  * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    vertical-align: middle;
    height: 1em;
  }
}

.hide {

}

.hideMe {
  border-radius: 0;
  min-width: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.squish {
  transition: border-radius 0.25s ease-in, margin 0.25s ease-in;
}

.squishMe {
  border-radius: 0;
  min-width: 0;
  width: 0;
  padding: 0.25rem 0.75rem;
  margin: 0;
  transition: padding-left 0.1s 0.25s ease-in, padding-right 0.1s 0.25s ease-in;
}

.left {
  border-radius: 50% 0 0 50%;
}

.right {
  border-radius: 0 50% 50% 0;
}
