@import '../variables.css';

.root {
  margin: 0 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  position: relative;

  &:hover {

    .text {
      opacity: 0;
      z-index: -1;
    }

    .transformIcon {

      margin: 0 4px;
      border-radius: 50%;
      transition: margin 0.5s ease-out, border-radius 0.5s ease-out;

      * {
        opacity: 1;
        transition: opacity 1.5s;
      }
    }

    .transformIcon.squish {
      margin: 0 4px;
      border-radius: 50%;
      transition: margin 0.5s 0.25s ease-out, border-radius 0.5s 0.25s ease-out;

      * {
        opacity: 1;
        transition: opacity 1.5s;
      }
    }

    .transformIcon.squishMe {
      margin: 0;
      border-radius: 50%;
      width: 0;
      min-width: 0;
      padding: 0;
      transition: margin 0.5s 0.25s ease-out, border-radius 0.5s 0.25s ease-out, width 0.25s ease-out;

      * {
        opacity: 1;
        transition: opacity 1.5s;
      }
    }

  }
}

.defaultHover:hover {
  background-color: darkgreen;
}

.text {
  position: absolute;
  z-index: 1;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  display: flex;
  justify-content: center;
}

.transformIcon {
  display: inline-flex;

  align-items: center;
  justify-content: center;
  min-width: 1em;
  vertical-align: middle;

  position: relative;

  padding: 0.25rem;


  background-color: color(var(--color-secondary) tint(15%));

  border-radius: 0;

  margin: 0 0;

  transition: border-radius 0.25s ease-in, margin 0.25s ease-in;

  * {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    vertical-align: middle;
    opacity: 0;
  }

}

.box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1em;
  vertical-align: middle;
  height: 1em;

  * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    vertical-align: middle;
    height: 1em;
  }
}

.hide {

}

.hideMe {

}

.squish {
  transition: border-radius 0.25s 0.25s ease-in, margin 0.25s 0.25s ease-in;
}

.squishMe {
  transition: border-radius 0.25s 0.25s ease-in, margin 0.25s 0.25s ease-in, width 0.25s ease-out;
}

.left {
  border-radius: 50% 0 0 50%;
}

.right {
  border-radius: 0 50% 50% 0;
}
