@keyframes orbitAnimation {
  from {
    transform: rotate(0deg) translate(10em) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(10em) rotate(-360deg);
  }
}

.orbit {
  animation-name: orbitAnimation;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite
}
